.formControl{
    margin-left:0%;
    margin-bottom: 20%;
    position: absolute;

}
.memeimg{

   height: 25%;
   width:25%;
}

.toptext{
    position: absolute;
    top:5%;
    left: 50%;
    max-width: 200px;
    transform: translate(-50%, -50%); 
}

.bottomtext{
    position: absolute;
    left: 50%;
    top:75%;
    max-width: 200px;
  
  

    transform: translate(-50%, -50%);
}